@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 


html{
    font-size: 62.5;
    font-family: Poppins,sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

/*REUTILIZAÇÃO*/

:root{
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}


/*HEADER - MENU*/

body{
    background-color: var(--body-color);
   
}
header{
    height: 75px;
    display: flex;
    align-items: center;
    background-color: var(--container-color);
}

span{
    color: var(--first-color-alt);
}


.header-logo h3{
 color: var(--title-color);
}


/*HOME*/


main{
     height: 875px;
}

#home-container{
    
    height: 100%;
    display: flex;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    
}

.grid-container-home{
    display: grid;
    gap: 25px;
  
}

.content-home-img{
    height: 300px;
    width: 300px;
    background-color: black;
}

.flex-container-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.content-home-subtitulo{
    text-align: center;
    color: var(--title-color);
    font-size: var(--bigger-font-size);

}

.content-home-talk button{
    padding: 15px 30px ;
    background-color: var(--first-color-alt);
    color: var(--title-color);
    border-radius: 10px;
    outline: 0;
    border: 0;
    color: var(--title-color);
    font-size: 1.2rem;
}

.content-home-titulo{
    text-align: center;
    color: var(--first-color-alt);
    font-size: 2.5rem;
}

.content-home-desc{
    margin-top: 50px;
    color: var(--text-color);
    font-size: 1rem;
}

.content-home-data{
    width: 80%;
    margin: 0 auto;
}

.container-img{
    display: flex;
    justify-content: center;
}

/*SKILLS*/

#skills{
    height: 385px;
    background-color: var(--container-color);
}
.skills-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container-nomes{
    display: flex;
    justify-content: center;
}

.skills-nomes ol{
    list-style: none;
}

.skills-nomes li{
    color: var(--title-color);
    line-height: 40px;
}

.content-favorite-skills h3{
    color: var(--title-color);
    font-size: var(--h3-font-size);
}

.content-favorite-skills h1{
    color: var(--title-color);
    font-size: var(--h1-font-size);
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.content-favorite-skills p{
    color: var(--text-color);
    font-size: var(--normal-font-size);
}

.skills-button{
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: 15px 45px;
    background-color: var(--first-color);
    color: var(--title-color);
    font-size: 1rem;
} 

.grid-container-skills{
    display: grid;
    gap: 30px;
}

.grid-container-skills h3,p{
    text-align: center;
}

.content-favorite-skills-button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.content-favorite-skills-button ol{
  list-style-type: decimal;
}




/*CARDS*/

#cards{
    padding: 25px 0px;
}
.content-cards-img{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 15px;
}
.container-cards{
    width: 95vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 25px;
}
.grid-container-cards{
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
}

.content-cards{
    position: relative;
    width: 380px;
    margin: 0 auto;
    
}

.container-cards h3{
    font-size: var(--bigger-font-size);
    color: var(--title-color);
}

.overlay-cards{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--first-color-alt);
    opacity: 0;
    border-radius: 15px;
}

.overlay-cards:hover {
    opacity: 1;
}

.overlay-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.overlay-cards-content{
    text-align: center;
}

.overlay-cards-content h3{
    color: var(--title-color);
}

.overlay-cards-content p{
    color: var(--title-color);
}

/*CONTATO*/


#contato{
    background-color: var(--container-color);
    padding: 25px 0px;
}

.grid-container-contato{
    display: grid;
    gap: 10px;
}

.grid-container-contato h3{
    text-align: center;
    color: var(--title-color);
}

.container-contato{
    width: 90vw;
    margin: 0 auto;
   

}

#inp-name, #inp-email, #text-area{
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    outline: 0;
}

#inp-name, #inp-email{
    padding: 10px 0px;
}

#inp-name::placeholder{
    padding-left: 10px;
}

#inp-email::placeholder{
    padding-left: 10px;
}

#text-area::placeholder{
    padding-left: 10px;
}


.button-contato-submit{
display: flex;
justify-content: center;
}

.button-contato-submit button{
    padding: 10px 10px;
    outline: 0;
    border: 0;
    color: var(--title-color);
    background-color: var(--first-color-alt);
    border-radius: 5px;
    font-size: 1rem;
}

form{
    display: flex;
    flex-direction: column;
}


/* PONTOS */

@media screen and(max-width: 320px){

}

@media screen and (min-width: 576px){


}


@media screen and (min-width: 768px){
    .grid-container-home{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .grid-container-skills{
        display: grid;
        grid-template-columns: repeat(2,370px);
    }

    .flex-container-home{
        justify-content: center;
    }

    .inputs-form{
        display: flex;
        gap: 5px;
    }

    #inp-name, #inp-email{
        padding: 10px;
    }

    .grid-container-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    .content-cards{
    width: 350px;
    height: 100%;
    }


    .skills-container-nomes{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (min-width: 878px){

    .content-cards{
    width: 400px;
    height: 100%;
    }
}

@media screen and (min-width: 1023px){

.grid-container-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
}

 .content-cards{
    width: 100%;
    height: 100%;
    }
    
}

@media screen and (min-width: 1152px){


.grid-container-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
}
   
.container-cards {
    width: 95vw;
}

.content-cards{
    width: 350px;
    height: 100%;
    }
    
}


@media screen and (min-width: 1330px){
    .container-cards {
    width: 72vw;
}
}