html{
    font-size: 62.5;
}

*{
    padding: 0;
    margin: 0;
}

/*REUTILIZAÇÃO*/

:root{
    --hue: 162;
    --first-color: hsl(var(--hue), 100%, 40%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 8%, 95%);
    --text-color: hsl(228, 8%, 65%);
    --body-color: hsl(228, 15%, 20%);
    --container-color: hsl(228, 15%, 15%);

    --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}


/*HEADER - MENU*/


header{
    height: 60px;
    display: flex;
    background: lightblue;
    align-items: center;
}



/*HOME*/

#home-container{
    width: 90vw;
    margin: 0 auto;
    
}

.grid-container-home{
    display: grid;
    gap: 25px;
  
}

.content-home-img{
    height: 300px;
    width: 300px;
    background-color: black;
}

.flex-container-home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-home-subtitulo{
    text-align: center;

}

.content-home-titulo{
    text-align: center;
}

.content-home-desc{
    margin: 25px 0px;
}

.content-home-data{
    width: 80%;
    margin: 0 auto;
}

.container-img{
    display: flex;
    justify-content: center;
}

/*SKILLS*/

#skills{
    height: 275px;
}
.skills-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-container-nomes{
   
}

.grid-container-skills{
    display: grid;
    gap: 30px;
}

.grid-container-skills h3,p{
    text-align: center;
}

.content-favorite-skills-button{
    display: flex;
    justify-content: center;
}

.content-favorite-skills-button ol{
  list-style-type: decimal;
}


/*CARDS*/


.content-cards-img{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 15px;
}
.container-cards{
    width: 95vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 25px;
}
.grid-container-cards{
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
}

.content-cards{
    position: relative;
    width: 380px;
    margin: 0 auto;
    
}

.overlay-cards{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: blue;
    opacity: 0;
    border-radius: 15px;
}

.overlay-cards:hover {
    opacity: 1;
}

.overlay-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.overlay-cards-content{
    text-align: center;
}

/*CONTATO*/

.grid-container-contato{
    display: grid;
    gap: 10px;
}

.container-contato{
    width: 90vw;
    margin: 0 auto;
   
    
}

#inp-name, #inp-email, #text-area{
    margin-bottom: 20px;
}

#inp-name, #inp-email, #text-area{
    width: 100%;
}


.button-contato-submit{
display: flex;
justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}


/* PONTOS */

@media screen and(max-width: 320px){

}

@media screen and (min-width: 576px){


}


@media screen and (min-width: 768px){
    .grid-container-home{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .grid-container-skills{
        display: grid;
        grid-template-columns: repeat(2,370px);
    }

    .flex-container-home{
        justify-content: center;
    }

    .inputs-form{
        display: flex;
        gap: 5px;
    }

    #inp-name, #inp-email{
        padding: 10px;
    }

    .grid-container-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    .content-cards{
    width: 350px;
    height: 100%;
    }


    .skills-container-nomes{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (min-width: 878px){

    .content-cards{
    width: 400px;
    height: 100%;
    }
}

@media screen and (min-width: 1023px){

.grid-container-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
}

 .content-cards{
    width: 100%;
    height: 100%;
    }
    
}

@media screen and (min-width: 1152px){


.grid-container-cards{
display: grid;
grid-template-columns: repeat(3,1fr);
}
   
.container-cards {
    width: 95vw;
}

.content-cards{
    width: 350px;
    height: 100%;
    }
    
}


@media screen and (min-width: 1330px){
    .container-cards {
    width: 72vw;
}
}