
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}


i{
    color: black;
    font-size: 28px;
    margin-left: 10px;
   
}



*/*a:hover, i:hover{
    color: blue;
    transition: all .40s
}*/





header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
    padding: 0px 40px;
}

nav a{
    color: black;
    font-weight: 600;
}

nav a:hover{
    color: blue;
}

nav ul{
    display: flex;
    gap: 40px;
   
}


#main{
    height: 875px;
    background-color: #f9f9f9;
   
}

.container-main{
    display: flex;
    height: 100%;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-main{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.container-main i:hover{
    color: blue;
}


.title-main h1{
    font-size: 48px;
}


.desc-main, .link-main{
    margin-top: 20px;
}

.main-text{
    width: 50%;
}

.skills{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.skills ul{
    display: flex;
    
    
}

.skills li{
    margin-left: 50px;
}

.skills i{
    font-size: 35px;
    padding: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
}


.image-main{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
}

#sobre{
    width: 1200px ;
    margin: 0 auto;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about{
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.content-about h4, h3{
    margin-bottom: 25px;
}

.text-content{
    width: 50%;
}


.img-art-about{
    height: 350px;
    width: 350px;
    background-color: black;
}

#portfolio-sec{
    background-color: #f9f9f9;
    padding: 50px 0px;
   
}

.container-portfolio{
    margin: 0 auto;
    width: 1200px;
}

.container-portfolio h2{
    padding: 50px 0px;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 400px;
    background-color: white;
    margin-bottom: 70px;
    border-radius: 10px;
   
}

.portfolio-reverso{
    flex-direction: row-reverse
}

.content-portfolio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.links-portfolio{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.links-portfolio a{
    display: flex;
    color: black;
    gap: 5px;
}

.links-portfolio a:hover{
    color: blue;
}

.links-portfolio a:hover i{
    color: blue;
}



.text-portfolio{
    width: 50%;
    height: 350px;
    width: 420px;
    text-align: center;
}

.desc-portfolio p{
    font-size: 18px;
}

.img-portofilio{
    height: 350px;
    width: 530px;
    background-color: black;
    border-radius: 10px;
}

.skills-portfolio{
    margin-top: 20px;
}

.skills-portfolio{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.skills-portfolio p{
    font-weight: 600;
}

.custom-skills{
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#contato{
    width: 1200px;
    margin: 0 auto;
}

.infos-contato{
    display: flex;
}

.contato-content{
    margin-top: 50px;
}

.contato-content h3{
    margin-top: 25px;
}

.localizacao-contato, .email-contato{
    margin-right: 60px;
}

.localizacao-contato h3, .email-contato h3{
    margin-bottom: 20px;
}

footer{
    color: white;
    background-color: gray;
    display: flex;
    align-items: center;
    height: 125px;
    margin-top: 50px;
}

footer i{
    color: white;
    
}

footer i:hover{
    transform: scale(1.3);
   
}



.content-footer{
    width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-footer a{
    margin-left: 20px;
}

.content-footer h3{
    margin: 0;

}