
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
    padding: 0px 40px;
}

nav ul{
    display: flex;
   
}

nav li{
    margin-left: 40px;
}

#main{
    height: 875px;
    background-color: #f9f9f9;
   
}

.container-main{
    display: flex;
    height: 100%;
    width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-main{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.desc-main, .link-main{
    margin-top: 20px;
}

.main-text{
    width: 50%;
}

.skills{
    display: flex;
    margin-top: 70px;
}

.skills ul{
    display: flex;
    
}

.skills li{
    margin-left: 50px;
}
.image-main{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
}

#sobre{
    width: 1200px ;
    margin: 0 auto;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about{
    display: flex;
    justify-content: space-around;
    height: 350px;
}

.content-about h4, h3{
    margin-bottom: 25px;
}

.text-content{
    width: 50%;
}


.img-art-about{
    height: 350px;
    width: 350px;
    background-color: black;
}

#portfolio-sec{
    background-color: #f9f9f9;
    padding: 50px 0px;
   
}

.container-portfolio{
    margin: 0 auto;
    width: 1200px;
}

.container-portfolio h2{
    padding: 50px 0px;
}

.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 400px;
    background-color: white;
    margin-bottom: 70px;
    border-radius: 10px;
   
}

.portfolio-reverso{
    flex-direction: row-reverse
}

.content-portfolio{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text-portfolio{
    width: 50%;
    height: 350px;
    width: 420px;
    text-align: center;
}

.desc-portfolio p{
    font-size: 18px;
}

.img-portofilio{
    height: 350px;
    width: 530px;
    background-color: black;
    border-radius: 10px;
}

.skills-portfolio, .links-portfolio{
    margin-top: 20px;
}