
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 

html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}


i{
    color: black;
    font-size: 2.8rem;
    margin-left: 10px;
   
}

.menu{
    display: block;
    position: absolute;
    left: 1px;
    width: 99%;
    top: 55px;
    height: 4000px;
    text-align: center;
    background-color: white;
    visibility: hidden;
    z-index: 1000;
    
}

#nav.active .menu{
    position: fixed;
    height: 100vh;
    visibility: visible;
}

#nav.active header{
    position: fixed;
}

#esconde.escondeMenu .menu{
    visibility: hidden;

}


#btn-mobile{
    display: flex;
    padding: 9px;
    border-radius: 50%;
    background-color: #f9f9f9;
    outline: 0;
    border: 0;
}

#hamburger{
    width: 18px;
    border-top: 2px solid black;
}

#hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 18px;
    border-top: 2px solid black;
    margin-top: 5px;
}

header{
    width: 100vw;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: fixed;
    background-color: white;
}


#main{
    width: 100vw;
    height: 530px;
}

.container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    background-color: #f9f9f9;
}

.content-main{
    text-align: center;
}

.title-main h1{
    font-size: 3.9rem;

}

.desc-main{
    margin: 20px 0px;
}

.desc-main p{
    font-size: 1.5rem;
}

.skills{
    
    margin: 40px 0px;
   
    
}

.skills ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}


#sobre .container{
    padding: 10px;
}

.content-about p{
    font-size: 1.4rem;
}

.text-content h3{
    font-size: 1.7rem;
}

.text-content h4{
    font-size: 1.5rem;

}

.img-art-about{
    height: 250px;
    width: 100%;
    background-color: black;
    margin-top: 10px;
}

.text-content h3{
    margin: 20px 0px;
}

#portfolio-sec{
    background-color: #f9f9f9;
    display: flex;
   
    
}

.container-portfolio{
    width: 90vw;
    margin: 0 auto;
}

.container-portfolio h2{
    text-align: center;
    margin-top: 25px;
    
}

.content-portfolio{
    height: 100%;
    padding: 10px 0px;
}

.portfolio{
    background-color: white;
    height: 550px;
    margin: 25px 0px;
    border-radius: 10px;
    
}

.title-portfolio{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-portfolio h3{
    font-size: 1.9rem;

}

.desc-portfolio{
   margin: 10px 0px;
   text-align: center;
}

.desc-portfolio p{
    font-size: 1.4rem;
}

.skills-portfolio{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.custom-skills p{
    font-size: 1.2rem;
}

.links-portfolio{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}

.links-portfolio a{
    font-size: 1.2rem;
}

.img-portofilio{
    height: 250px;
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border-radius: 10px;
}


#contato{
   
    width: 100vw;
}

.contato-content h3{
    margin: 15px 0px;
    text-align: center;
    font-size: 1.8rem;

}

.contato-content h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.localizacao-contato p, .email-contato p{
    font-size: 1.4rem;
    text-align: center;
}




.localizacao-contato h3, .email-contato h3 {
    margin-top: 5px;
}

.email-contato{
    margin-top: 10px;
}



.container-contato{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #696969;
    height: 65px;
    margin-top: 50px;
}

.content-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: white;
}
.content-footer h3{
    font-size: 1.0rem;
}

.link-footer{
    display: flex;
    
}


.link-footer i{
    color: white;
}

.link-footer i:hover{
    transform: scale(1.1);
}


@media screen and (min-width:480px) {


    .portfolio{
        height: 575px;
    }
    .content-portfolio .img-portofilio{
        height: 350px;
         width: 85%;
    }

    #sobre .container{
        padding:  20px ;
    }
    .text-content{
        text-align: center;
    }
    .container-img{
        display: flex;
        justify-content: center;
    }
    .img-art-about{
        width: 55%;
    }
 }



 @media screen and (min-width:600px) { }
 #main{
    height: 875px;
}

 @media screen and (min-width:768px) { 
    
    .container-portfolio{
        width: 70vw;
    }

 }


 @media screen and (min-width:992px) { 

    @media screen and (min-width:992px) { 


        html{
            font-size: 72.5%;
        }
        #btn-mobile{
            display: none;
        }

        .logo{
            padding-left: 20px;
        }

        header{
            height: 80px;
        }
        nav {
            
            height: 100%;
        }

       

        .menu{
            z-index: 0;
            height: 100%;
            display: flex;
            position: relative;
            top: 0;
            background-color: none;
            align-items: center;
            visibility: visible;
            gap: 20px;
            padding: 0px 20px;
        }
        .menu li{
            font-size: 1.5rem;
        }

        .content-main{
            display: flex;
           
            gap: 30px;
            padding: 20px;
        }
        .image-main{
            width: 350px;
            height: 350px;
            background: black;
            border-radius: 50%;
        }

        .main-text{
            text-align: left;
        }


        .skills{
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .skills ul{
            margin: 0;
        }

        .desc-main{
            width: 75%;
        }

        .container .content-about {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .img-art-about{
            width: 350px;
            height: 350px;
            border-radius: 10px;
        }

        .text-content{
            width: 50%;
            text-align: left;
        }

        .container-portfolio{
            width: 80vw;
        }

        .portfolio{
            height: 375px;
            display: flex;
            align-items: center;
        }

        .content-portfolio{
            display: flex;
            align-items: center;
            padding: 10px;
            width: 85vw;
        }

        .text-portfolio{
            width: 50%;
            height: 100%;
        }

        .skills-portfolio{
            margin: 25px;
        }

        .links-portfolio{
            margin-top:  25px;
        }

        .content-portfolio .img-portofilio{
            width: 50%;
        }

    }

    @media screen and (min-width:1400px) {



        .container-portfolio{
            width: 60vw;
        }


        .content-portfolio{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content-portfolio .img-portofilio{
            width: 50%;
        }
        }

    } 

    @media screen and (min-width:1900px) {
        #main{
            height: 950px;
        }
    }

 



       

    

    




        

    




